body{
font-family: Verdana, sans-serif;
font-size: 100%;
line-height: 1.75em;
}
#info { color: teal;
	text-align: center;
} /* delete*/
h1{
	font-family:"Marko One", Georgia, serif;
	color: purple;
	text-align: center;
	text-shadow: .1em .1em .2em lightslategray;
}
h2{
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	color: purple;
}
p, dl {
	font-size: .875em;
}
dt {
	font-weight: bold;
	color: sienna;
}
strong{
	font-style: italic;
	
}
dt strong{
	color: maroon;
	
}
/*#info {
	color: teal;
}*/
#info p {
	font-style: italic;
	color: gray;
}
.price{
	font-family: Georgia, serif;
	font-style: italic;
	color: gray;
}
.label{
	font-weight: bold;
	font-variant: small-caps;
	font-style: normal;
}
p.warning, sup{
	font-size: x-small;
	color: red;
}
h2 + p {
	text-align: center;
	font-style: italic;
}













